[Desktop Entry]
Name=Fusion (Cairo)
Comment=Fusion Desktop Environment by Imperial Technologies
Exec=/usr/local/bin/fusionC
TryExec=/usr/local/bin/fusionC
Type=XSession
