[Desktop Entry]
Name=Fusion (Cairo)
Comment=Fusion Desktop Environment by Imperial Technologies
Exec=/usr/local/bin/fusion
TryExec=/usr/local/bin/fusion
Type=XSession
