[Desktop Entry]
Name=Fusion Docky
Comment=Fusion Desktop Environment by Imperial Technologies
Exec=/usr/local/bin/fusionD
TryExec=/usr/local/bin/fusionD
Type=XSession

